@font-face {
  font-family: "Extrategia-Gotham";
  src: url("../fonts/GOTHAM-MEDIUM.OTF");
}

body {
  font-family: "Extrategia-Gotham";
}

h1 {
  color: #7030a0;
  font-size: 3vw;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
}

h2 {
  color: #7030a0;
  font-size: 2vw;
  font-weight: 900;
  text-align: left;
}

label {
  color: gray;
  font-weight: 500;
  font-size: 0.8vw;
}

div label {
  display: block;
}

input {
  padding: 1rem;
  border-color: #d5cfcf;
  border-width: 0.1rem;
  border-style: solid;
}
input[type="text"],
input[type="tel"] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input:focus {
  border: 1px solid #7030a0;
}

form {
  margin: auto;
  max-width: 70%;
}
i {
  color: #7030a0;
}
.subtitle {
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 3vh;
  text-align: center;
  max-width: 80%;
}

.input-name {
  width: 87%;
  margin-bottom: 1.5rem;
}

.logo-img {
  margin-bottom: 7vh;
  max-width: 45%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-l,
.col-r {
  padding: 2rem;
}

.col-l-img {
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}
.icon-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.form-text {
  color: gray;
  font-weight: 600;
}

.form-col {
  width: 45%;
  display: inline-block;
}

.input-col {
  width: 90%;
}

.form-button {
  background-color: #7030a0;
  margin-top: 1.5rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.4rem;
  width: 90%;
}

.bullet-point {
  font-weight: lighter;
  font-size: 2vw;
  color: gray;
}

.input-privacy {
  margin-top: 2vh;
}

.icon-grid article {
  text-align: center;
  max-width: 80%;
}

.icon-grid article p {
  font-size: 0.8vw;
}

@media screen and (max-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
  }

  .col-l-img {
    min-height: 10rem;
  }

  .form-span {
    font-size: 3.7vw;
  }

  label {
    font-size: 1.6vw;
  }

  h2 {
    font-size: 3vw;
  }

  .bullet-point {
    font-size: 4vw;
  }

  .form-button {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: auto;
    margin: auto;
  }

  .col-l,
  .col-r {
    padding: 1rem;
  }

  .input-name {
    width: 90%;
    margin-bottom: 0;
  }

  .form-col {
    width: 100%;
    display: block;
    margin-top: 2rem;
  }
  @media screen and (max-width: 700px) {
    .col-l-img {
      height: 65%;
    }

    .icon-grid article p {
      font-size: 2vw;
    }
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 5vw;
    }

    h2 {
      font-size: 4vw;
    }
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0px;
    }

    .col-l-img {
      height: 100%;
      max-width: 80%;
    }

    .icon-grid article p {
      font-size: 2.5vw;
    }
  }

  @media screen and (max-width: 400px) {
    .icon-grid article p {
      font-size: 3vw;
    }
  }
}
